---
// No props — static content
---
<section class="get_start dark_bg">
  <div class="container">
    <div class="text-center">
      <div class="titl_sig_str">
        <div class="inline-block in_to_titl_g">
          <h2 class="title_section">Ready To Fast-Track Your Marketing?</h2>
          <div class="decor_str_eas">
            <div class="line_skeg_strr">
              <svg width="770" height="770" viewBox="0 0 770 770" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M769 1L0.5 769.5" stroke="#464646"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="descr_misg">Book a call to learn more about our design process and get a free proposal for your upcoming project!</div>
      <div class="start_colabb">
        <div class="inline-block">
          <a href="https://calendly.com/iannikov/luma-design" class="btn_anim" style="min-width: 139px;" target="_blank" rel="noopener">
            <span class="default_btn_bg"></span>
            <span class="cb-btn_cta-title">
              <span data-text="Book a call">Book a call</span>
            </span>
            <span class="cb-btn_cta-ripple">
              <span></span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
